.title {
    text-align: center;
    margin-top: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
   

}

.whole {
    padding-top: 100px;
    display: flex;
}

table,
tr,
td,
th {
    margin-left: 200px;
    background-color: blanchedalmond;
    width: 800px;
    height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: grey;
    color: white;
}
.right {
    position:fixed;
    right: 140px;
    background-color: rgb(49, 49, 98);
    padding: 50px;
    box-shadow: 0 5px 9px 5px rgba(0, 0, 0, 0.9);
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.add,
.delete {
    height: 35px;
    width: 100px;
    margin-left: 2px;
    background-color: green;
    color: white;
    border-radius: 20px;
}

h2 {
    text-align: center;
}

.select {
    margin-left: 20px;
    height: 30px;
    width: 180px;
    text-align: center;
    border: none;
}

.click {
    margin-top: 10px;
    margin-left: 50px;
    height: 35px;
    width: 120px;
    border-radius: 20px;
    background-color: green;
    color: white;
    border-radius: 20px;

}

.right form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

}

.right form input {
    height: 30px;
    width: 200px;
    padding-left: 10px;
    border-radius: 50px;
}

.time {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.ssr {
    margin-top: 20px;
    text-align: center;
}

.ssr button {
    background-color: red;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 68px;
}